{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
{% translate 'product detail' %}
{% endblock %}

{% block body %}
    <div>
        <p>{% translate 'Name'%}: {{object.name}}</P>
        <p>{% translate 'Description' %}: {{object.description}}</P>
        <p>{% translate 'Discount' %}: {{object.discount}}</P>
        <p>{% translate 'Archived' %}: {{object.archieved}}</P>
        <p>{% translate 'Price' %}: {{object.price}}</P>
        <p>{% translate 'Created by' %}: {{object.created_by}}</p>
        {% if product.preview %}
          <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}
        <h3>{% translate 'Images'%}:</h3>
        <div>
            {% for image in product.images.all %}
            <div>
                <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                <div>
                    {{ image.description }}
                </div>
            </div>
            {% empty %}
                <div> {% translate 'No images uploaded yet' %} </div>
            {% endfor %}
        </div>
    </div>
    {% if perms.shopapp.change_product %}
        <div>
            <a href="{% url 'shopapp:product_update' pk=object.pk %}">{%translate 'update'%}</a>
        </div>
    {% else %}
        <p>{%translate 'no permission to update'%}</p>
    {% endif %}
    {% if perms.shopapp.delete_product%}
        <div>
            <a href="{% url 'shopapp:product_delete' pk=object.pk %}">{% translate 'delete' %}</a>
        </div>
    {% else %}
        <p>{% translate 'no permission to delete'%}</p>
    {% endif %}



{% endblock %}