{% extends "myauth/base.html" %}

{% block title%}
    Update Profile
{% endblock title %}

{% block body %}
    {% if user.pk == profile.user.pk or perms.myauth.change_profile%}
        <h1> Update a profile for user {{user.name}}</h1>

        <form method='post' enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button type='submit'>update</button>
        </form>
    {% else %}
        <h2>No permission to change info</h2>
    {% endif %}
{% endblock body %}